input {
    border-color: lightgray;
}

button[type = 'submit'] {
    background-color: #00ADEE;
}

.error {
    color: red;
}

.tab {
    border-bottom: 5px solid #00ADEE;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #00ADEE;
    border-radius: 5px;
}